dm-haiku>=0.0
fitparse>=1.2.0
flax>=0.9.0
garminconnect>=0.2.8
garth>=0.4
jax>=0.4
jaxlib>=0.4
matplotlib>=3.0.0
numpy>=2.0.0
openpyxl==3.1.5
pandas>=2.0
plotly>=5.0
pyarrow>=17.0.0
pydantic>=2.9
requests>=2.0
scipy>=1.14
stravalib>=2.0
streamlit>=1.39
tqdm>=4.0
