dm-haiku==0.0.11
fitparse==1.2.0
kaleido==0.2.1
jax==0.4.21
jaxlib==0.4.21
garminconnect==0.1.45
gpxpy==1.5.0
matplotlib==3.7.1
numpy==1.25.0
openpyxl==3.1.0
pandas==2.0.2
plotly==5.14.1
pyarrow==12.0.0
pyqt5==5.15.9
requests==2.31.0
scipy==1.7.0
streamlit==1.29.0
tqdm==4.65.0